@import url(bootstrap.css);
@import url(bootstrap-responsive.css);

body {
    background-color: #eee;
    padding: 0;
}

.navbar .navbar-inner {
    border-radius: 0;
}

p {
    font-size: 150%;
    line-height: 200%;
}

.webapp-install {
    font-size: 300%;
    min-width: 180px;
    height: 120px;
}
