@import url(bootstrap.css);
@import url(bootstrap-responsive.css);

body {
    background-color: #eee;
    padding: 0;
}

.navbar .navbar-inner {
    border-radius: 0;
}

p {
    font-size: 150%;
    line-height: 200%;
}

.webapp-install {
    font-size: 300%;
    min-width: 180px;
    height: 120px;
}

.arrow_box {
    position: relative;
    background-color: #B3BECD;
    border-width: 3px;
    border-style: solid;
    border-color: #7086A3;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
    padding: 10px;
}
.arrow_box:after, .arrow_box:before {
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.ipad.arrow_box {
    border-color: #85868D;
    background-color: #E9E9ED;
}
.ipad.arrow_box:after, .ipad.arrow_box:before {
    bottom: 100%;
}
.ipad.arrow_box:after {
    border-bottom-color: #E9E9ED;
    border-width: 20px;
    left: 50px;
    margin-left: -20px;
    margin-bottom: -1px;
}
.ipad.arrow_box:before {
    border-bottom-color: #85868D;
    border-width: 24px;
    left: 50px;
    margin-left: -24px;
}

.iphone.arrow_box:after, .iphone.arrow_box:before {
    top: 100%;
}
.iphone.arrow_box:after {
    border-top-color: #B3BECD;
    border-width: 20px;
    left: 50%;
    margin-left: -20px;
}
.iphone.arrow_box:before {
    border-top-color: #7086A3;
    border-width: 24px;
    left: 50%;
    margin-left: -24px;
}

.ios {
    position: fixed;
}

.ios.iphone {
    bottom: 30px;
    left: 4px;
}

.ios.ipad {
    top: 20px; /* arrow height */
    left: 108px;
}
/* iPad 1 portrait mode */
@media (min-width: 770px) and (max-width: 1024px) {
    .ios.ipad {
        left: 68px;
    }
}
